page{
    text-align: center;
}

#insertLabel{
    font-size: 30px;
}

#descriptionlabel{
    font-size: 16px;
}

#urlTextField{
    height: 60px;
    font-size: 25px;
}

stacklayout{
    width:90%;
}
