label{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
textfield{
    margin-top: 5px;
    margin-bottom: 5px;
}
dropdown{
    font-size: 15px;
    color: black;
    width: 80%;
    horizontal-align: left;
    margin-bottom: 3%;
}

.Title{

    margin-top: 10;
    font-size: 20px;
    horizontal-align: center;
}

.Info{
    text-align: center;
    font-size: 16px;
    border-width: 1px;
    border-color: lightgray;
    height: 90%;
}

.btnIcon {

    font-family: FontAwesome, fontawesome-webfont;
    font-size: 20px;
    background-color: brown;
    border-width: 2px;
    border-color: rgb(148, 41, 17);
    color: white;

}