label{
    font-size: 20px;

}
textfield{
    margin-bottom: 3%;
}
dropdown{
    font-size: 15px;
    color: black;
    width: 80%;
    horizontal-align: left;
    margin-bottom: 3%;
}

.Title{
    font-size: 20px;
    horizontal-align: center;
}

.Info{
    text-align: center;
    font-size: 16px;
    border-width: 1px;
    border-color: lightgray;
    height: 85%;
}